* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
	user-select: none;
	overflow: hidden;
}

canvas{
	overflow: hidden;
}

.start-btn{
	position:absolute;
	width: 160px;
	top: 40%;
	left: calc(50% - 80px);
	text-align: center;
	z-index: 10;
	font-size: 18pt;
	background-color: #676767;
	color: white;
	padding: 12px;
	border:none;
	border-radius: 10px;
}

.overlay{
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.7);
	top:0;
	left:0;
}

#main{
	position: absolute;
	width: 100vw;
	height: 100vh;
	overflow:hidden;
}